.container {
  padding-left: 24px;
  padding-right: 24px;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75%;
  padding: 24px;
}

.forbbiden-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75%;
  padding: 24px;
}

@font-face {
  font-family: 'Maple Hand';
  src: url('./MapleHand.woff2') format('woff2');
}